@import '../node_modules/bootstrap/dist/css/bootstrap.css'
@import './variables.styl'

/*
@font-face {
  font-family: 'kyeongpil';
  src: url("assets/DXKPMB-KSCpc-EUC-H.ttf") format('truetype');
}
*/

/* Tags */

body {
  color: $text-color
  background: #fff
  /*font-family: 'Nanum Pen Script',*/
  /*font-family: 'kyeongpil', kyeongpil*/
  font-weight: 300
  font-size: 16.0px
  padding-top: 90px
}

a {
  color: $link-color
}

h1,
h2,
h3,
h4,
h5 {
  /*font-family: 'Nanum Pen Script',*/
  /*font-family: 'kyeongpil', kyeongpil*/
  font-weight: 300
}

blockquote {
  padding: 16px
  font-size: 15.0px
  border-left: 0px
}

input[type="text"], textarea {
  outline: none
  box-shadow: none !important
  font-size:16px
}

/* Classes */

.col-xs-12 {
  padding-right: 0px
  padding-left: 0px
}

.page-header {
  margin-top: 0
  border-color: $border-color
  color: #aaa
  padding-right: 15px
  padding-left: 15px
}

.page-body {
  margin-left: 10px
  font-size: 15.0px
  /*color: #4f4f4f*/
}

.panel-default {
  border-radius: 0px
}

.panel-default > .panel-heading {
  background-color: #fdfdfd
  padding: 2px 15px;
}

.panel-body {
  font-size: 15.0px;
}

.panel-image {
}

.map-container {
  border-color: $border-color
  border-top: 1px solid #eee
  border-bottom: 1px solid #eee
}

.btn {
  /*font-family: 'Nanum Pen Script',*/
  /*font-family: 'kyeongpil', kyeongpil*/
  font-weight: 300
}


.panel {
  border-color: $border-color
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0)
  box-shadow: 0 0 0 rgba(0, 0, 0, 0)
  h3 {
    margin-top: 0
  }
  .panel-body > h2 {
    margin-top: 0
  }
}

.input-group-addon {
  background-color: #fff
  border-color: $border-color
  border-top-width: 0
  border-bottom-width: 0
  border-right-width: 0
  border-radius: 0
  padding-right: 0
}

.navbar-brand {
  /*font-family: 'Nanum Pen Script',*/
  /*font-family: 'kyeongpil', kyeongpil*/
  font-weight: 300
  font-size: 25.5px
  letter-spacing: 1.5px
  line-height: 0.8em
  margin-top: 0px
  top: -5px
}
  
/* Animations */

.fade-down-enter-active {
  animation-name: fadeInDown;
  animation-duration: 0.5s;
}

/*
.fade-down-leave-active {
  animation-name: fadeOutDown;
  animation-duration: 0.4s;
}
*/

@keyframes fadeInDown {
  from { opacity: 0.05; transform: translate3d(0, -25px, 0); }
  to { opacity: 1; transform: none; }
}

/*
@keyframes fadeOutDown {
  from {  opacity: 1; transform: none; }
  to { opacity: 0.05; transform: translate3d(0, -25px, 0); }
}
*/

.fade-enter-active {
  transition: opacity .5s
}

.fade-enter {
  opacity: 0
}