@import '../node_modules/bootstrap/dist/css/bootstrap.css';
body {
  color: #333;
  background: #fff;
  font-weight: 300;
  font-size: 16px;
  padding-top: 90px;
}
a {
  color: #3ea3d7;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}
blockquote {
  padding: 16px;
  font-size: 15px;
  border-left: 0px;
}
input[type="text"],
textarea {
  outline: none;
  box-shadow: none !important;
  font-size: 16px;
}
.col-xs-12 {
  padding-right: 0px;
  padding-left: 0px;
}
.page-header {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 20px;
  border-color: #e2e2e2;
  color: #aaa;
  padding-right: 15px;
  padding-left: 15px;
}
.page-body {
  margin-left: 10px;
  font-size: 15px;
/*color: #4f4f4f*/
}
.panel-default {
  border-radius: 0px;
}
.panel-default > .panel-heading {
  background-color: #fdfdfd;
  padding: 2px 15px;
}
.panel-body {
  font-size: 15px;
}
.map-container {
  border-color: #e2e2e2;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.btn {
  font-weight: 300;
}
.panel {
  border-color: #e2e2e2;
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
.panel h3 {
  margin-top: 0;
}
.panel .panel-body > h2 {
  margin-top: 0;
}
.input-group-addon {
  background-color: #fff;
  border-color: #e2e2e2;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
  border-radius: 0;
  padding-right: 0;
}
.navbar-brand {
  font-weight: 300;
  font-size: 25.5px;
  letter-spacing: 1.5px;
  line-height: 0.8em;
  margin-top: 0px;
  top: -5px;
}
.fade-down-enter-active {
  animation-name: fadeInDown;
  animation-duration: 0.5s;
}
/*
.fade-down-leave-active {
  animation-name: fadeOutDown;
  animation-duration: 0.4s;
}
*/
.fade-enter-active {
  transition: opacity 0.5s;
}
.fade-enter {
  opacity: 0;
}
.modal-enter {
  opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@-moz-keyframes fadeInDown {
  from {
    opacity: 0.05;
    transform: translate3d(0, -25px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0.05;
    transform: translate3d(0, -25px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInDown {
  from {
    opacity: 0.05;
    transform: translate3d(0, -25px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0.05;
    transform: translate3d(0, -25px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
