@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@font-face {
  font-family: 'Jeongum';
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/seoul/Jeongum/Jeongum.woff2") format('woff2'), url("//cdn.jsdelivr.net/korean-webfonts/1/corps/seoul/Jeongum/Jeongum.woff") format('woff');
}
.jeongum * {
  font-family: 'Jeongum', serif;
}
/* Tags */
body {
  color: #333;
  background: #fff;
  font-family: 'Jeongum';
  font-weight: 300;
  font-size: 14.5px;
  padding-top: 90px;
}
a {
  color: #3ea3d7;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Jeongum';
  font-weight: 300;
}
blockquote {
  padding: 15px;
  font-size: 13.5px;
  border-left: 0px;
}
input[type="text"],
textarea {
  outline: none;
  box-shadow: none !important;
}
/* Classes */
.page-header {
  margin-top: 0;
  border-color: #e2e2e2;
  color: #aaa;
}
.map-container {
  border-color: #e2e2e2;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.btn {
  font-family: 'Jeongum';
  font-weight: 300;
}
.panel {
  border-color: #e2e2e2;
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
.panel h3 {
  margin-top: 0;
}
.panel .panel-body > h2 {
  margin-top: 0;
}
.input-group-addon {
  background-color: #fff;
  border-color: #e2e2e2;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
  border-radius: 0;
  padding-right: 0;
}
.navbar-brand {
  font-family: 'Jeongum';
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 1.5px;
  line-height: 0.8em;
  margin-top: 0px;
  top: -5px;
}
/* Animations */
.fade-down-enter-active {
  animation-name: fadeInDown;
  animation-duration: 0.5s;
}
.fade-down-leave-active {
  animation-name: fadeOutDown;
  animation-duration: 0.4s;
}
@-moz-keyframes fadeInDown {
  from {
    opacity: 0.05;
    transform: translate3d(0, -25px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0.05;
    transform: translate3d(0, -25px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInDown {
  from {
    opacity: 0.05;
    transform: translate3d(0, -25px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0.05;
    transform: translate3d(0, -25px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0.05;
    transform: translate3d(0, -25px, 0);
  }
}
@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0.05;
    transform: translate3d(0, -25px, 0);
  }
}
@-o-keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0.05;
    transform: translate3d(0, -25px, 0);
  }
}
@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0.05;
    transform: translate3d(0, -25px, 0);
  }
}
