<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url" content="http://geunho-mikyeong.com">
    <meta property="og:title" content="근호 & 미경">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://geunho-mikyeong.com/static/IMG_MAIN.jpeg">
    <meta property="og:description" content="결혼식에 초대합니다.">
    <title>근호 & 미경</title>
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">{% } %}
  </head>
  <body>
    <div id="app"></div>
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}" async defer></script>{% } %}
  </body>
</html>
